/* css components */
@import url('../../components/DrawerBox/style.css');
@import url('../../components/btn-ok/style.css');
@import url('../../components/btn-to-about/style.css');
@import url('../../components/simple-card/style.css');
/* end of css components */
