/* css components */
@import url('../../components/DrawerBox/style.css');
@import url('../../components/btn-to-home/style.css');
@import url('../../components/simple-card/style.css');
/* end of css components */
